@import 'config';

// Story
.story {
  clear: both;

  + .story {
    margin-top: 40px;
  }
}

// Thumbnail
.thumb {
  float: right;
  height: 65px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 65px;
}

// Date line
.dateline {
  color: $medium;
  font-style: italic;
  margin: 0 0 .25em;
}

// Excerpt
.excerpt {
  margin: 0 0 .5em;
}

// Headline
.headline {
  font-size: 1.1em;
  font-weight: 700;
}

// Reaction buttons
.react-btn {
  font-size: 18px;
  text-shadow: none;

  .plus {
    transition: transform .3s cubic-bezier(.68, .07, .21, 1.95);
  }

  &[aria-expanded='true'] {
    .plus {
      transform: rotate(45deg);
    }
  }
}

.reactions {
  display: inline-block;

  .react-btn {
    animation: slide-in .3s cubic-bezier(.68, .07, .21, 1.95);
    animation-fill-mode: backwards;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * .1s;
      }
    }
  }

  &:not(.active) {
    display: none;
  }
}

// Slide in
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Plus icon
.plus {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 18px;

  .h {
    background: $dark;
    display: block;
    height: 2px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .v {
    background: $dark;
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 2px;
  }
}

// Screen reader only
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Dismissible disclaimer
.app-frame {
  position: relative;
}

.super-annoying-legal-disclaimer {
  background: transparentize($lighter, .05);
  bottom: 0;
  box-shadow: 0 -4px 8px transparentize($darker, .8);
  left: 0;
  padding: 25px;
  position: absolute;
  right: 0;

  p {
    margin: 0;
  }

  &:not(.active) {
    display: none;
  }
}

// Close button
.close {
  background: transparent;
  box-shadow: none;
  color: $medium;
  font-size: 24px;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 0;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $primary;
  }
}
