@import 'config';

// Story
.story {
  clear: both;

  + .story {
    margin-top: 40px;
  }
}

// Thumbnail
.thumb {
  float: right;
  height: 65px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 65px;
}

// Date line
.dateline {
  color: $medium;
  font-style: italic;
  margin: 0 0 .25em;
}

// Excerpt
.excerpt {
  margin: 0 0 .5em;
}

// Headline
.headline {
  font-size: 1.1em;
  font-weight: 700;
}

// Reaction buttons
.react-btn {
  font-size: 18px;
  text-shadow: none;
}

.reactions {
  display: inline-block;

  &:not(.active) {
    display: none;
  }
}
